services:

  bot:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        USER: ${USER}
    restart: unless-stopped
    volumes:
      - ${HOME}/.oci:/home/${USER}/.oci
    env_file:
      - .env
    environment:
      DISCORD_TOKEN: ${DISCORD_TOKEN}
      DISCORD_GUILD_ID: ${DISCORD_GUILD_ID}
      DISCORD_ADMIN_ROLE_ID: ${DISCORD_ADMIN_ROLE_ID}
      DISCORD_MINECRAFT_CHANNEL_ID: ${DISCORD_MINECRAFT_CHANNEL_ID}
      DISCORD_MESSAGES_CHANNEL_ID: ${DISCORD_MESSAGES_CHANNEL_ID}
      DISCORD_MUSIC_CHANNEL_ID: ${DISCORD_MUSIC_CHANNEL_ID}
      OCI_MACHINE_ID: ${OCI_MACHINE_ID}
      MINECRAFT_DOMAIN_NAME: ${MINECRAFT_DOMAIN_NAME}
      MINECRAFT_PASSWORD: ${MINECRAFT_PASSWORD}
